@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Philosopher:700');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
}

a {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
}
header {
    background-color: #490909;
    height: 80px;
    width: 100%;
}

header > nav > a > img {
    width: 100px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

nav {
    background-color: #490909;
    width: 100%;
    height: 80px;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 1;
}

nav.active {
    background-color: #490909;
}

nav.active ul {
    transform: translate(0, 0);
}

nav ul {
    transform: translate(100%, 0);
    transition: all 0.5s ease;
    background-color: #490909;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    position: relative
;
}

nav ul li {
    text-align: center;

    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px ;
    display: block;
    font-size: 2em;
}

#bas-menu {
    border:none;
    padding: 10px;
}

.tiret {
    width: 80%;
    background-color: #ffffff;
    height: 1px;
    border:0;
    margin:0 auto;
    list-style: none;
}

.tiret-bordeaux {
    width: 80%;
    background-color: #490909;
    height: 2px;
    border:0;
    margin:0 auto;
    list-style: none;
}

#hamburger {
    width: 50px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 20px;
}

#hamburger div {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 3px;
    opacity: 1;
    transition: all 0.5s ease;
}

nav.active #hamburger div {
    background-color: #ffffff;
    transition: all 0.5s ease;
}

nav.active #hamburger div:nth-child(1) {
    transform: rotate(45deg) translate(48%, 0);
    width: 60%;
}

nav.active #hamburger div:nth-child(2) {
    opacity: 0;
}

nav.active #hamburger div:nth-child(3) {
    transform: rotate(-45deg) translate(45%, 0);
    width: 60%;

}
.contenu {
    width:100%;
    padding-bottom: 80px;
    text-align: center;
}


#admin img {
    width: 80%;
    height: 200px;
    margin: 20px;

}

iframe {
    border:0;
}

.contenu h2 {
    margin: 0;
    padding-top: 25px;
}

.contenu p {
    margin: 30px;
}

#first {
    background-color: #D3D3D3;
}

#firstvid {
    padding-top: 50px;
}

 h1 {
    color: #490909;
    margin-top: 20px;
}




.rejoindre {
    background-color: #490909;
    border : solid white 1px;
    border-radius: 30px;
    padding: 10px;
}
.bouton {
    display: flex;
    width: 100%;
    justify-content: center;
}

#confessions {
    background-color: #D3D3D3;
}

#evenements {
    background-color: #FFFFFF;
}

footer {
    background-color: #490909;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0 10%;
}

.logo img {
    width: 50px;
    height: 50px;
}

#pagepresentation {
    background-color: #D3D3D3;
    padding-bottom: 30px;
}

#pagepresentation span {
    font-size:1.5em;
    margin:20px;
    display: block;
}

#pagepresentation img {
    width: 50%;
    height: 25%;
    margin: auto;
    display: block;
    padding-top: 20px;
}

.prochain img {
    margin: 25px;
}

.prochaingris {
    background-color: #D3D3D3;
}


#listeconfs {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#listeconfs img {
    display: inline-block;
    margin: 2%;
    width: 160px;
    height: 160px;
}

#trier {
    margin: 10px;
    float: right;
}
svg {
    position:absolute;
    pointer-events: none;
}


#premier {
    padding-top: 30px;
    padding-left: 0;
    text-align: center;
}
.first {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 30px;
    display: inline-block;
    font-size: 20px;
    margin:5px;
    font-weight: 600;
}

#deuxieme {
    text-align: center;
    padding-left: 0;

}

.second {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 30px;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    font-weight: 600;
}

#info {
    display: inline-block;
    width: 100%;
}

#trier {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
}
#info input {
    border-radius: 30px;
    margin:15px;
}
#tags {
    position: absolute;
    width: 90%;
    background-color: #000000;
    margin: 0 5%;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
}
#tags.active {
    opacity:0.95;
    pointer-events: auto;
}


#deuxieme {
opacity: 0;
}

#deuxieme.active {
    opacity:1;
}


.first:hover {
    background-color: #490909;
    color: #FFFFFF;
}



.second:hover {
    background-color: #490909;
    color: #FFFFFF;
}
#connexion, #inscription {
    background-color: #D3D3D3;
    text-align: center;
    padding-top: 30px;
}



#connexion a, #inscription a {
    font-size: 1.5em;
    font-family: Philosopher, sans-serif;
    color: #000;
    margin: 10px;
}

#connexion #co  {
    border-bottom: #490909 solid 2px;
}

#inscription #inscr {
    border-bottom: #490909 solid 2px;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 300px;
    /* To see the outline of the form */
    padding: 1em;

}

.formco input {
    height: 35px;
    margin: 20px;
}
.button {background-color: #490909;
    border-radius: 30px;
    color: #FFFFFF;
    border:none;
    padding: 10px 30px;
    font-family: 'Philosopher', sans-serif;
}
button {
    background-color: #490909;
    border-radius: 30px;
    color: #FFFFFF;
    border:none;
    padding: 10px 30px;
    font-family: 'Philosopher', sans-serif;
}

#connexion img {
    padding-top: 80px;
    padding-bottom: 30px;
}

#inscription img {
    padding : 25px 0;
}

#slider {
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
    background-image: url("../img/arriere-plan.png");
    background-size: contain;
}



#slider ul {

    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    list-style: none;

}


#slider ul li {

    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    text-align: center;

}


.control_prev, .control_next{
    position: absolute;
    top: 40%;
    padding: 0;
    background: none;
}
.control_prev{
    left: 5%;
}
.control_next{
    right: 5%;
}