{% extends 'general.html.twig' %}

{% block contenu %}
<div class="contenu" id="admin">
    <h1>Bloody Week end</h1>
    <img  src="https://i.ytimg.com/vi/x-dSQeLIrm0/hqdefault.jpg" alt="image-confessions" >
    <input type="button" value="Supprimer" class="button">
    <div class="tiret-bordeaux"></div>
    <img  src="https://i.ytimg.com/vi/x-dSQeLIrm0/hqdefault.jpg" alt="image-confessions" >
    <input type="button" value="Supprimer" class="button">
    <div class="tiret-bordeaux"></div>
    <img  src="https://i.ytimg.com/vi/x-dSQeLIrm0/hqdefault.jpg" alt="image-confessions" >
    <input type="button" value="Supprimer" class="button">
    <div class="tiret-bordeaux"></div>
    <img  src="https://i.ytimg.com/vi/x-dSQeLIrm0/hqdefault.jpg" alt="image-confessions" >
    <input type="button" value="Supprimer" class="button">
    <div class="tiret-bordeaux"></div>
</div>
{% enblock contenu %}