{% block contenu %}
    <div class="Contenu" id="connexion">
        <a id="co" href="connexion.html">Connexion</a>
        <a id="inscr" href="inscription.html">Inscription</a>
        <form class="formco" action="../index.html" method="post" >
            <div>
                <input type="email" id="mail" name="user_mail" placeholder="Adresse mail">
            </div>
            <div>
                <input type="password" id="password" name="user_password" placeholder="Mot de Passe">
            </div>
            <div class="button">
                <button type="submit">Connexion</button>
            </div>
        </form>
        <img style="width: 150px;height: 100px;" src="../img/logo-confessionnalphilo.png" alt="logo">
    </div>
{% endblock contenu %}