{% block contenu %}
<div class="contenu" id="pagepresentation">
    <img src="../img/logo-confessionnalphilo.png" alt="logo">
    <h2>Mais qu'est-ce que c'est ?</h2>
    <iframe style="margin-top:30px; margin-bottom:40px;" width="300" height="250" src="https://www.youtube.com/embed/Xd1E4HQBW5k?rel=0&autoplay=1"  allowfullscreen></iframe>
    <p>A l’instar d’un photomaton sous vidéo surveillance, les participants sont filmés dès leurs entrée. Les « confessions » sont ensuite partagées sur ce site. Moments récréatifs (voir festifs), poétiques (ou pas), réflexif, le Confessionnal peut être vu comme un exutoire social, un espace de liberté qui convoque à la fois les problématiques d’identité, d’intimité et de mémoire incidentes aux pratiques actuelles des réseaux numériques.</p>





</div>
{% endblock contenu %}